# Python
venv/
__pycache__/
*.pyc
backend/instance/

# Secrets
.env
backend/.env

# Node / Angular
node_modules/
dist/
.angular/

# Database
*.db
*.sqlite

# IDE / OS
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db